* {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    background-color:#0D2C54;
    color:white;
  }
@mixin revenir{
    border-radius:50%;
    border-color: white;
    background-color: white;
    width: 70px;
    height: 40px;
    margin-top:50px;
    margin-left:50px;
  }
  @mixin titre3{
    display:grid;
    text-align: center;
    font-size: 50px;
  }
  @mixin text{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto;
    text-align: center;
    grid-row:1/4;
  }
  @mixin grillePerso{
   margin:50px;
   width:100%;
   // heigth:100%;
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
 
  }
  @mixin visuel{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
  }
  @mixin img_gros{
    height:500px;
   //grid-row: 1/4;
    grid-row-start:1;
  }
  @mixin info{
    text-align:justify;
    margin-top: 100px;
    margin-bottom: 40px;
   }
 