@use "page_perso";
* {
    box-sizing: border-box;
  }
  
  html{
    //background-image:linear-gradient(#9AD4D6 0%,#0D2C54 80%)
  }
  html,
  body {
    margin: 0px;
    width: 100%;
    max-height: 100%;
    background-color:#0D2C54;
    color:white;
  }
  main{
   height: 100%;
   margin:auto;
  }
  footer{
    width: 100%;
  }
  .button{
    border-radius:50%;
    border-color: white;
    background-color: white;
    border:none;
    width: 300px;
    height: 300px;
  
  }
  .grille{
    margin:auto;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto;
    gap:50px;
    justify-content: center;
  }
  h1{
    text-align: center;
    font-size: 100px;
  }
  //Ajouter la fonte pour tout le text dans la page
 body {
    font-family: 'Varela Round', sans-serif;
   
  }
  .visuels{
    @include page_perso.visuel;
  }
  .titre3{
    @include page_perso.titre3;
  }
  .info{
    @include page_perso.text;
    @include page_perso.info;
  }
  .text{
    @include page_perso.text;
  }
  .revenir{
    @include page_perso.revenir;
  }
  .contenue{
    @include page_perso.grillePerso;
  }
  .img_gros{
    @include page_perso.img_gros;
  }
  .img6{
    @include page_perso.img6;
  }
  .img2{
    @include page_perso.img2;
  }
  .visuels2{
    @include page_perso.visuels2;
  }
  .img3{
    @include page_perso.img2;
  }
  .visuels3{
    @include page_perso.visuels3;
  }
  .arriere_plan{
    @include page_perso.arriere_plan;
  }
  .compagnie{
    @include page_perso.nom;
  }