* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    background-color:#0D2C54;
  }
  
  //Ajouter la fonte pour tout le text dans la page
 body {
    font-family: 'Varela Round', sans-serif;
  }